body {
  font-family: 'Courier New', Courier, monospace;
}
h1, h2, .heading {

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  color: white;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  font-family: 'Courier New', Courier, monospace;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #22c55e;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.nav-links a {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #22c55e;
}

.active {
  color: #22c55e;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text h3{
  position: absolute;
  left: 5%;
  top: 30%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  line-height: 0.9;
}

.overlay-text p{
  position: absolute;
  left: 5%;
  top: 30%;
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  line-height: 0.9;
}

.image-container .btn {
  position: absolute;
  top: 56%;
  left: 12%;
  width: 200px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  background-color: #22c55e;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.catalog {
  text-align: center;
  padding: 100px 20px;
  background: #fff;
}

.catalog h2 {
  font-size: 2.2rem;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.catalog-item {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.catalog-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.catalog-item .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  
}

.catalog-item:hover .overlay {
  background: rgba(0,0,0,0.6);
}

.catalog-item h3 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
}



.adv-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}